h1{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    color: #333;
    margin-bottom: 30px;
    font-weight: 700;
    background-color: #edf583cb;
    padding: 10px;
}

.A{
width: 100%;
padding: 10px;
border-radius: 50PX;
}

.side-by-side{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.c{
    width : 50%;
    padding: 10px;
    border-radius: 50PX;
}